@(idenv:String, id:String, map: Map[String, String])
@Main("Arduino") {
<nav id="css" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@routes.Application.viewArea(id, idenv)">Area</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="@routes.Application.ManualThingArea(idenv,id)"><button id="thing">Things</button><span class="sr-only">(current)</span></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Areas <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation">
              <a href="@routes.Application.viewAreas(idenv)" data-toggle="modal">
                 View Areas
              </a>
            </li>
            <li><a href="@routes.Application.AddArea(idenv)">Add Area</a></li> 
          </ul>
        </li>

        <li><a href="@routes.Application.viewEnv(idenv)">Environment <span class="sr-only">(current)</span></a></li>
        <li><a href="@routes.Application.welcome()"><i class="fa fa-home"></i>Profile</a></li> 
        <li><a href="@routes.Application.index()">Log out</a></li>
             
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="col-md-offset-1 col-md-11">
<div class="path">
Path : <a href="@routes.Application.welcome()">Profile </a> >> <a  href="@routes.Application.viewEnv(idenv)">View Environmnet</a> >> <a href="@routes.Application.viewAreas(idenv)">View Areas</a> >> <a href="@routes.Application.viewArea(id, idenv)"> View Area </a> >> <a href="@routes.Application.ManualThingArea(idenv,id)">Things </a> >> Arduino

</div><!--path-->
</div><!--offset-->



<script type="text/javascript">
   $('[data-toggle="tooltip"]').tooltip({ container: 'body' })
</script>



<style type="text/css">
  
</style>

<div class="row">
<div class="col-md-offset-1 col-md-4">
<div class="light">
  <label> Light Control</label>
</div><!--light-->
<br>
  <button id="11" class="led led11">Red</button> <!-- button for pin 11 -->
  <button id="12" class="led led12">Green</button> <!-- button for pin 12 -->
  <button id="13" class="led led13">Yellow</button> <!-- button for pin 13 -->
</div> <!--offset-->   

<div class="col-md-3">
  <div class="msg-data-send"> <br><label>Data sent successfully !</label></div>
</div>

</div><!--row-->

<div class="row">
<div class="col-md-offset-1 col-md-10">
<div class="control">
<div class="row">

<div class="col-md-4">
<p>Temperature</p><br>
<label>VCC</label>
<select class="form-control">
  <option value="vcc">VCC</option>
  <option value="null">---</option>
</select>
<label>DATA</label>
<select class="form-control temp-pin" placeholder="digital pin">
  <option id="4" class="temp" value="data-pin">4</option>
  <option id="2" class="temp" value="data-pin">2</option>
  <option id="3" class="temp" value="data-pin">3</option>
  <option id="5" class="temp" value="data-pin">5</option>
  <option id="6" class="temp" value="data-pin">6</option>
  <option id="7" class="temp" value="data-pin">7</option>
  <option id="8" class="temp" value="data-pin">8</option>
  <option id="9" class="temp" value="data-pin">9</option>
  <!-- <option id="10" class="temp" value="data-pin">10</option> -->
  <!-- <option id="11" class="temp" value="data-pin">11</option> -->
  <!-- <option id="12" class="temp" value="data-pin">12</option> -->
  <!-- <option id="13" class="temp" value="data-pin">13</option> -->
</select>
<label>NC</label>
<select class="form-control">
  <option value="vcc">empty pin</option>
  <option value="null">---</option>
</select>
<label>GND</label>
<select class="form-control">
  <option value="vcc">GND</option>
  <option value="null">---</option>
</select>
</div><!--col-md-4-->

<div class="col-md-4">
<p>Humidity</p><br>

<label>VCC</label>
<select class="form-control">
  <option value="vcc">VCC</option>
  <option value="null">---</option>
</select>

<label>DATA</label>
<select class="form-control hum-pin" >
  <option id="4" class="hum" value="data-pin">4</option>
  <option id="2" class="hum" value="data-pin">2</option>
  <option id="3" class="hum" value="data-pin">3</option>
  <option id="5" class="hum" value="data-pin">5</option>
  <option id="6" class="hum" value="data-pin">6</option>
  <option id="7" class="hum" value="data-pin">7</option>
  <option id="8" class="hum" value="data-pin">8</option>
  <option id="9" class="hum" value="data-pin">9</option>
  <!-- <option id="10" class="hum" value="data-pin">10</option> -->
  <!-- <option id="11" class="hum" value="data-pin">11</option> -->
  <!-- <option id="12" class="hum" value="data-pin">12</option> -->
  <!-- <option id="13" class="hum" value="data-pin">13</option> -->
</select>

<label>NC</label>
<select class="form-control">
  <option value="vcc">empty pin</option>
  <option value="null">---</option>
</select>

<label>GND</label>
<select class="form-control">
  <option value="vcc">GND</option>
  <option value="null">---</option>
</select>
</div> <!--col-md-4-->

<div class="col-md-4">
<p>Luminosity</p><br>
<label>VCC</label>
<select class="form-control">
  <option value="vcc">VCC</option>
  <option value="null">---</option>
</select>

<label>Analogic PIN</label>
<select class="form-control lum-pin" name="pin_select">
  <option id="0" class="lum" value="vcc">0</option>
  <option id="1" class="lum" value="null">1</option>
  <option id="2" class="lum" value="vcc">2</option>
  <option id="3" class="lum" value="null">3</option>
  <option id="4" class="lum" value="null">4</option>
  <option id="5" class="lum" value="null">5</option>

</select>

<label>GND</label>
<select class="form-control">
  <option value="vcc">GND</option>
  <option value="null">---</option>
</select>
</div><!--col md-4-->

</div><!--row-->
</div><!--control-->
</div><!--big cool md-->
</div><!--row-->


<!-- <div class="row">
<div class="butoane">
<div class="col-md-offset-1 col-md-10">
<div class="row"> -->





<div class="col-md-4">
<!-- <button class="send-data">Send</button> -->
</div>

<!-- <div class="col-md-4">
<button>Send</button>
</div>


<div class="col-md-4">
<button>Send</button>
</div>
 -->


<div class="id-thing">

<div class="row">

<div class="col-md-offset-1">
<br><br>
<label>info :</label>
@for((k,v)<- map){

@if(k == "humidity") {
                      <button id="hum">@k</button> &nbsp;&nbsp;
                      <button id="@v" class="h_id">@v</button>
                     }else{
                    
                     }
<!-- </div > -->
<!-- <div class="col-md-3"> -->
@if(k == "temperature"){
                      <button id="temp">@k</button> &nbsp;&nbsp;
                      <button id="@v" class="t_id">@v</button>
                    }else{
                    
                    }
<!-- </div> -->
<!-- <div class="col-md-3"> -->
@if(k == "luminosity"){
                      <button id="lum">@k</button> &nbsp;&nbsp;
                      <button id="@v" class="l_id">@v</button>
                    }else{
                    
                    }
}
<br><br>
</div>

</div>
</div>



<div class="row">
<div class="col-md-offset-1 col-md-1">
<button class="send-data">Send</button>
</div>
<div class="col-md-1">
 <button class="chart" onClick="location.href='@routes.Application.arduinoChartarea(idenv,id)'">Chart</button>
</div>
</div>
</div>


 <script type="text/javascript">
    $(document).ready(function(){
      $(".led").click(function(){
        
        var p = $(this).attr('id'); 
        // alert(p);
        // var t = $('.temp').attr('id');
        // var l = $('.lum').attr('id');
        // $(".send-data").click(function(){
          var id_t = $(".t_id").attr('id');
          
          var id_h = $(".h_id").attr('id');
          var id_l = $(".l_id").attr('id');

          var pin_t = $('.temp-pin option:selected').text();
          var pin_l = $('.lum-pin option:selected').text();
          var pin_h = $('.hum-pin option:selected').text();

          // alert("pin temp : "+pin_t+" pin lum : "+pin_l+" pin hum : "+pin_h);
          // alert("temp "+id_t+" hum "+id_h+" lum "+id_l);
          $.get("http://192.168.4.1:80/",{pin:p,temp:id_t,hum:id_h,lum:id_l,pint:pin_t,pinl:pin_l,pinh:pin_h});
          // $.get("http://192.168.4.1:80/", {temp:id_t});
        // });
        // get id value (i.e. pin13, pin12, or pin11)
        // send HTTP GET request to the IP address with the parameter "pin" and value "p", then execute the function
        // $.get("http://192.168.4.1:80/", {pin:p});

      });
    });
  </script>
  <script type="text/javascript">
  $(document).ready(function(){

    $(".send-data").click(function(){

      var id_t = $(".t_id").attr('id');
      var id_h = $(".h_id").attr('id');
      var id_l = $(".l_id").attr('id');

      var pin_t = $('.temp-pin option:selected').text();
      var pin_l = $('.lum-pin option:selected').text();
      var pin_h = $('.hum-pin option:selected').text();

      // alert("temp "+id_t+" hum "+id_h+" lum "+id_l);

      $.get("http://192.168.4.1:80/",{pin:10,temp:id_t,hum:id_h,lum:id_l,pint:pin_t,pinl:pin_l,pinh:pin_h});
      // $.get("http://192.168.4.1:80/", {temp:id_t});
      $( ".msg-data-send" ).show( "slow" );
      $(".chart").addClass("see-me");
    });
  });

  </script>

</div><!--row-->
</div><!--offse-->
</div><!--butoane-->
</div><!--row-->


<style type="text/css">
.led{
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.led11:hover{
  background: #B20000;
}
.led12:hover{
  background-color: #009900;
}
.led13:hover{
  background-color: #CCCC00;
}
.light label, .control p{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
  button{
    background-color: #00527A;
    border: none;
    border-radius: 5px;
  }
  .control{
    padding-top: 40px;
  }
  .control label{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #C1C3C0;
  }
  .control p{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }
  .butoane{
    padding-top: 20px;
  }
  .butoane button{
    /*padding-top: 20px;*/
    width: 70px;
    height: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  }
  .butoane button:hover{
    background-color: #007ACC;
  }
  #thing{
    background-color: transparent;
    color: #C1C3C0;
    text-shadow: 2px 2px 4px #000000;
    
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  }
   #thing:hover{
  color:#FFF;
  text-shadow: 0 0 3px #000, 0 0 5px #DDDEDB; 
   }
   .send-data, .chart{
    width: 80px;
    height: 40px;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
   }
   .send-data:hover, .chart:hover{
    background-color:#29A3A3;
   }

   .msg-data-send{
    color: #CCCC00;
    text-shadow: 2px 2px 4px #000000;
    font-size: 20px;
    display: none;
   }
   .see-me{
   color:#FFF;
   text-shadow: 0 0 3px #000, 0 0 5px #008A00; 
   background-color: #CCCC00;    
   }
</style>
}