@(id:String, idenv:String)
@Main("Add area") {
<form action="@routes.Application.areaPostConferenceRole(id,idenv)" method="POST">
<div class="row">
<div class="col-md-offset-1 col-md-10">
    First Name<br>
    <input type="text" name="first_name" id="first" class="form-control"><br>
    Last Name  <br>
    <input name="last_name" class="form-control"><br>
    <!-- Role<br> -->
     	<div class="form-group">
		  <label for="sel1">Select Role</label>
		  <select class="form-control" id="sel1">
		    <option>participant</option>
		    <option>speaker</option>
		    <option>session_chair</option>
		  </select>
		</div>

     <input type="submit" class="btn-edit" value="add" >
<br><br>
</div>
</div>
    <!-- <h1><b>Role:</b> <input id="addRole" name="role" value="" > </h1> -->
    <!-- <p><a id="showradbtn"><small><u><i>Chose role</i></u></small></a><p>  -->

<!-- <div class="radio-buttons">
   <div class="p">
    <input class="radbtn" type="radio" name="rol" id="participant" value="2"><label for="participant"><small><i class="fa fa-circle-o"> participant</small></i> </label>
   </div>

   <div class="s">
    <input class="radbtn" type="radio" name="rol" id="speaker" value="1" ><label for="speaker"><small><i class="fa fa-circle-o"> speaker</small></i></label>
   </div>

   <div class="sc">
    <input class="radbtn" type="radio" name="rol" id="session_chair" value="0" ><label for="session_chair"><small><i class="fa fa-circle-o"> session chair</small></i></label>
   </div>
</div> -->
<!--radio buttons-->


 <script type="text/javascript">

// $( document ).ready(function() {
//   // Handler for .ready() called.
//     $( "#first" ).focus(function() {
//   alert( "Handler for .focus() called." );
// });

// });



// $(document).ready(function(){

  // $('#participant,#speaker,#session_chair').bind('click',radbtn);

  // function radbtn(){
  //   var valueChecked = $("input[name=rol]:checked").val();
  //   alert("rrrr");
  //   if(valueChecked){
  //     alert("rrrr");
  //     if(valueChecked == 2){
  //       // alert("2");

  //       $(".p .fa").removeClass("fa-circle-o").addClass("fa-check-circle-o");
  //       $(".s .fa").removeClass("fa-check-circle-o").addClass("fa-circle-o");
  //       $(".sc .fa").removeClass("fa-check-circle-o").addClass("fa-circle-o");    
  //     }

  //     else if(valueChecked == 1){

  //       $(".p .fa").removeClass("fa-check-circle-o").addClass("fa-circle-o");
  //       $(".s .fa").removeClass("fa-circle-o").addClass("fa-check-circle-o");
  //       $(".sc .fa").removeClass("fa-check-circle-o").addClass("fa-circle-o");      
  //     }

  //     else if(valueChecked == 0){
  
  //       $(".p .fa").removeClass("fa-check-circle-o").addClass("fa-circle-o");
  //       $(".s .fa").removeClass("fa-check-circle-o").addClass("fa-circle-o");
  //       $(".sc .fa").removeClass("fa-circle-o").addClass("fa-check-circle-o");
      
  //     }

  //   }
  // }
// });
</script>

</form>


}

