@(d:String, bd:String, p:String, o:String, s:String, id:String, idenv:String)

@Main("Features Area") {

<nav id="css" class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@routes.Application.viewArea(id, idenv)">Area</a>
    </div>

   
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
      
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Features List <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation">
              <a data-toggle="modal" data-target="#areadesc">
                Description
              </a>
            </li>
             <li>
              <a data-toggle="modal" data-target="#areaboodesc">
                Booth Description
              </a>
            </li>
             <li >
              <a data-toggle="modal" data-target="#program-area">
               Program
              </a>
            </li>
              <li >
              <a data-toggle="modal" data-target="#order-area">
                Order
              </a>
            </li>
              <li >
              <a data-toggle="modal" data-target="#social-area">
                 Social media
              </a>
            </li>
           
          </ul>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="@routes.Application.welcome()"><i class="fa fa-home"></i>Profile</a></li> 
        <li><a href="@routes.Application.index()">Log out</a></li>         
      </ul>
    </div>
  </div>
</nav>
	

<div class="col-md-offset-1 col-md-11">
<div class="path">
Path : <a href="@routes.Application.welcome()">Profile </a> >> <a  href="@routes.Application.viewEnv(idenv)">View Environmnet</a> >> <a href="@routes.Application.viewAreas(idenv)">View Areas</a> >> <a href="@routes.Application.viewArea(id, idenv)"> View Area </a>>> Features

</div>

</div>

<div class="row">
<div class="col-md-offset-3 col-md-9">
<div class="tree">
<ul>
<li>
<a>Features</a>

<ul>
@if(d == null) {

} else {
	<li>
		<a data-toggle="modal" data-target="#areadesc">@d</a><br>
	</li>
}

@if(bd == null) {

} else {
	<li>
		  <a data-toggle="modal" data-target="#areaboodesc">@bd</a><br>
	</li>
}

@if(p == null) {

} else {
	<li>
		 <a data-toggle="modal" data-target="#program-area">@p</a><br>
	</li>
}

@if(o == null) {

} else {
	<li>
		  <a data-toggle="modal" data-target="#order-area">@o</a><br>
	</li>
}

@if(s == null) {

} else {
	<li>
		 <a data-toggle="modal" data-target="#social-area">@s</a>
	</li>
}
</ul>

</li>
</ul>
</div><!--tree-->
</div>
</div>
<style type="text/css">

body{
  overflow-x: hidden;
}

  a:hover{
    text-decoration: none;
    cursor: pointer;
  }

* {margin: 0; padding: 0;}

.tree {
  position: relative;
  /*left: 340px;*/
  top: 50px;
  /*font-size: 40px;*/
}

.tree ul {
  padding-top: 20px; position: relative;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li {
  float: left; text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
  content: '';
  position: absolute; top: 0; right: 50%;
  border-top: 1px solid #ccc;
  width: 70%;
  height: 20px;
}
.tree li::after{
  right: auto; left: 50%;
  border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
  content: '';
  position: absolute; top: 0; left: 50%;
  border-left: 1px solid #ccc;
  width: 0; height: 20px;
}

.tree li a{
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  /*color: #666;*/
  /*color: #FFF;*/
    color: #C1C3C0;
    text-shadow: 2px 2px 4px #000000;

  font-family: pursia, arial, verdana, tahoma;
  font-size: 20px;
  display: inline-block;
  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
  background: #B8B800; 
  /*color: #000; */
  color:#FFF;
  text-shadow: 0 0 3px #000, 0 0 5px #DDDEDB;
  border: 1px solid #B8B800;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
  border-color:  #B8B800;
}

</style>


<!-- Modal description area-->
<div class="modal fade" id="areadesc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Description</h4>
      </div>
      <div class="modal-body">
        <div class="areadescription"></div>
      <script type="text/javascript">
      $(function(){   
        // alert("aaa");
            $(".areadescription").load("@routes.Application.areaDescription(id,idenv)");
        });
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal booth description-->
<div class="modal fade" id="areaboodesc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Booth Description</h4>
      </div>
      <div class="modal-body">
       <div class="booareadesc"></div>
      <script type="text/javascript">
      $(function(){   
        // alert("aaa");
            $(".booareadesc").load("@routes.Application.areaBothDescription(id,idenv)");
        });
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Program-->
<div class="modal fade" id="program-area" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Program</h4>
      </div>
      <div class="modal-body">
       <div class="areaprogram"></div>
      <script type="text/javascript">
      $(function(){   
        // alert("aaa");
            $(".areaprogram").load("@routes.Application.areaProgram(id,idenv)");
        });
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal order-->
<div class="modal fade" id="order-area" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Order</h4>
      </div>
      <div class="modal-body">
       <div class="areaorder"></div>
      <script type="text/javascript">
      $(function(){   
        // alert("aaa");
            $(".areaorder").load("@routes.Application.orderArea(id,idenv)");
        });
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal social media-->
<div class="modal fade" id="social-area" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Social media</h4>
      </div>
      <div class="modal-body">
       <div class="socialaraea"></div>
      <script type="text/javascript">
      $(function(){   
        // alert("aaa");
            $(".socialaraea").load("@routes.Application.socialMediaArea(id,idenv)");
        });
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
}