@(description:String, k:String, idenv:String)
@Main("view description"){


  <div class="col-md-offset-1 col-md-11">
        <form action="@routes.Application.saveDeleteDescArea(k,idenv)" method="POST">

         <!-- <div class="border-input"></div> -->
<style type="text/css">
	.edit-input-container{
		position: relative;
		top:10px;
	}
</style>
         <div class="edit-input-container">
	         <div class="row">
	         <div class="col-md-11">
	            <textarea class="form-control" name="textarea" rows="5" cols="60" >@description</textarea>
	         </div>
	         </div>
         </div>
            
        <div class="edit-btns-save-delete">
			<div class="row">
			<div class="col-md-7">
			<div class="row">

				<div class="col-md-4">
					<input type="submit" name="update" value="save" class="btn-edit">
				</div>
				<div class="col-md-3">
					<input type="submit" name="update" value="delete" class="btn-edit">
				</div>

			</div>
			</div>	
			</div>
		</div>
		</form>
 </div>

}