@(name:String, tags:String, id:String, idenv:String)
@Main("Edit area") {


<div class="col-md-offset-1 col-md-10">

<h2>Edit Area:</h2>
<!-- <div class="border-input-edit"></div> -->

<form method="POST" action="@routes.Application.saveArea(id,idenv)">

<div class="row">
  <div class="col-md-11">
    Area Name<br>
    <input type="text" value="@name" name="name" class="form-control"><br>
    Tags<br>
    <input type="text" value="@tags" name="tags"class="form-control"><br>
</div>
</div>


<div class="row">
<div class="col-md-9">
<div class="row">
  <div class="col-md-4">
		<input type="submit" name="update" value="save" class="btn-edit">
	</div>
	<div class="col-md-4">
		<input type="submit" name="update" value="delete" class="btn-edit">
  </div>
</div>

</div>
</div>

</form>
</div>
}