
@(name:String, tags:String, id:String)
@Main("Edit Environment") {

<div class="col-md-offset-3 col-md-9">

<h3>Edit Environment</h3>

<!-- <div class="border-input-edit"></div> -->

<form method="POST" action="@routes.Application.saveEnv(id)">

<div class="row">
  <div class="col-md-8">
    Environment Name<br>
    <input type="text" value="@name" name="name" class="form-control"><br>
    Tags<br>
    <input type="text" value="@tags" name="tags" class="form-control"><br>
</div>
</div>


<div class="row">
<div class="col-md-9">
<div class="row">

	<div class="col-md-4">
		<input type="submit" name="update" value="save" class="btn-edit">
	</div>
	<div class="col-md-4">
		<input type="submit" name="update" value="delete" class="btn-edit">
	</div>
</div>

</div>
</div>

</form>
</div>

}
