@(description:String, id:String)
@Main("order ") {

<div class="path">
 &nbsp;&nbsp;<i class="fa fa-paw"> to edit, just click on the order. Don't forget to save the changes.</i>
</div>

<form action="@routes.Application.updateDeleteEnvOrder(id)" method="POST">
<div class="text">
<textarea class="form-control" name="description" rows="5" cols="40" placeholder="enter order here...">@description</textarea>
<br>
</div>
   		<div class="row">
   		
   		<div class="col-md-4">
		<input type="submit" name="update-po" value="save" class="btn-edit">
		<br>
		</div>
		<div class="col-md-4">
		<input type="submit" name="update-po" value="delete" class="btn-edit">
		<br>
		</div>

		</div>

</form>

<style type="text/css">
	form .text textarea{
		    background-color: transparent;
        	border: none;
        	color: #FFF;
        	box-shadow: none;
	}
	form .text textarea:hover{
		cursor: pointer;
	}
	form .text textarea:focus{
		    background-color: #FFF;
        	border: 1px solid #000;
        	color: #000;
	}
	 label{
           font-family: 'Open Sans Condensed', sans-serif;
            color: #C1C3C0;
            text-shadow: 2px 2px 4px #000000;
          }
</style>
}