
@(name:String, width:String, height:String, img_thumbnail_url:String, tags:String, id:String)
@Main("Edit Environment") {
<div class="col-md-offset-1 col-md-10" >
<form method="POST" action="@routes.Application.saveEnv(id)">

<div class="row">
  <!-- <div class="col-md-8"> -->
<br><br>
    Environment Name<br>
    <input type="text" value="@name" name="name" class="form-control"><br>
    Width<br>
    <input type="text" value="@width" name="width" class="form-control"/>
    Height<br>
    <input type="text" value="@height" name="height" class="form-control"/>
    Tags<br>
    <input type="text" value="@tags" name="tags" class="form-control"><br>
    Image thumbnail url
    <input type="text" value="@img_thumbnail_url" name="img_thumbnail_url" class="form-control"/>

  <!-- </div> -->
</div>

<br><br>
<div class="row">
	<div class="col-md-3">
		<input type="submit" name="update" value="save" class="btn-edit">
	</div>

	<div class="col-md-2">
		<input type="submit" name="update" value="delete" class="btn-edit">
	</div>
</div>

</form>
</div>
}
