@(description:String, contact_email:String, contact_website:String, image_url:String, id:String, idenv:String)
@Main("view description"){


  <!-- <div class="col-md-offset-1 col-md-5"> -->
        <form action="@routes.Application.editBoothArea(id,idenv)" method="POST">
<div class="col-md-offset-1 col-md-10">
        <!-- <div class="row"> -->
        <br>
        Contact Email : <br>
		<input name="contact_email" class="form-control" value="@contact_email"><br>
		Contact Website : <br>
		<input name="contact_website" class="form-control" value="@contact_website"><br>
		Image Url:
	    <input name="image_url" class="form-control" value="@image_url"><br>

	    	Product Description : <br>
	
   			<textarea class="form-control" name="description" cols="50" rows="10">@description</textarea>
   			<br><br>
   		<!-- </div> -->

   		<div class="row">
   		
   		<div class="col-md-4">
		<input type="submit" name="update-bo" value="save" class="btn-edit">
		<br>
		</div>
		<div class="col-md-4">
		<input type="submit" name="update-bo" value="delete" class="btn-edit">
		<br>
		</div>

		</div>
</div>	 
        </form>
 

}