@(description:String, k:String)
@Main("view description"){


 <div class="col-md-offset-1 col-md-11">

<div class="path">
 <i class="fa fa-paw"> to edit, just click on the description. Don't forget to save the changes.</i>
</div>
        <form action="@routes.Application.saveDeleteDescEnv(k)" method="POST">
      
             <!-- <h2>Environment Description</h2> -->
               <style type="text/css">
             	 h2{
            	font-size: 17px;
            	}
             </style>

<!-- <div class="border-input"></div> -->
 <div class="edit-input-container">
	<div class="row">
	    <div class="col-md-11">
 			<textarea class="form-control" cols="60" rows="5" name="textarea" data-toggle="tooltip" data-placement="left" title="click to edit">@description</textarea>
 		</div>
 	</div>
</div>
                   
<div class="edit-btns-save-delete">
	<div class="row">
	<div class="col-md-7">
	<div class="row">
		<div class="col-md-3">
			<input type="submit" name="update" value="save" class="btn-edit">
		</div>
		<div class="col-md-4">
			<input type="submit" name="update" value="delete" class="btn-edit">
		</div>
<script type="text/javascript">
	$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<style type="text/css">

.edit-input-container textarea:hover{
	cursor: pointer;
}

.edit-input-container textarea{
	position: relative;
	top: 30px;
	bottom: 10px;

	    color: #FFF;
	    text-shadow: 0 0 3px #000, 0 0 5px #DDDEDB; 
		border: none;
		background-color: transparent;
		box-shadow: none;
	}

.edit-input-container textarea:focus{
		color: #000;
		border: 1px solid #000;
		background-color: #FFF;
		border-radius: 7px;
	}
	.edit-btns-save-delete{
		position: relative;
		top: 20px;
	}
</style>
	</div>
	</div>	
	</div>
	</div>
	</form>
 </div>

}