@(description:String, id:String, idenv:String)
@Main("Program area") {
<form action="@routes.Application.updateDeleteAreaProgram(id,idenv)" method="POST">

<!-- Edit< Program  -->
<div class="program">
<textarea class="form-control" name="description" rows="5" cols="40">@description</textarea>
</div>
<br>
   		<div class="row">
   		
   		<div class="col-md-2">
		<input type="submit" name="update-po" value="save" class="btn-edit">
		<br>
		</div>
		<div class="col-md-3">
		<input type="submit" name="update-po" value="delete" class="btn-edit">
		<br>
		</div>

		</div>

</form>
<style type="text/css">
	.program textarea{
		background:transparent;
		border: none;
		color: #FFF;
	}
</style>

}