@(id:String)
@Main("Things Area") {
<nav id="css" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@routes.Application.viewEnv(id)">Environment</a> 
    </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li><a href="#" data-toggle="modal" data-target="#editEnvironmet">Edit Environment <span class="sr-only">(current)</span></a></li> -->
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Areas <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation">
              <a href="@routes.Application.viewAreas(id)" data-toggle="modal">
                 View Areas
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="@routes.Application.welcome()"><i class="fa fa-home"></i>Profile</a></li> 
        <li><a href="@routes.Application.index()">Log out</a></li>         
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="col-md-offset-1 col-md-11">
  <div class="path">
  Path : <a href="@routes.Application.welcome()">Profile </a> >> <a href="@routes.Application.viewEnv(id)">View Environmnet</a> >> <a href="@routes.Application.ManualThingEnv(id)">Things</a> >> Arduino
  </div>
</div>



<div class="row">
<div class="col-md-offset-1">
<div class="light">
  <label> Light Control</label>
</div><!--light-->
<br>
  <button id="11" class="led led11">Red</button> <!-- button for pin 11 -->
  <button id="12" class="led led12">Green</button> <!-- button for pin 12 -->
  <button id="13" class="led led13">Yellow</button> <!-- button for pin 13 -->
</div> <!--offset-->   
</div><!--row-->

  <script type="text/javascript">
    $(document).ready(function(){
      $(".led").click(function(){
        alert("wooooo");
        var p = $(this).attr('id'); // get id value (i.e. pin13, pin12, or pin11)
        // send HTTP GET request to the IP address with the parameter "pin" and value "p", then execute the function
        $.get("http://192.168.4.1:80/", {pin:p}); // execute get request
      });
    });
  </script>


<div class="row">
<div class="col-md-offset-1 col-md-10">
<div class="control">
<div class="row">

<div class="col-md-4">
<p>Temperature</p><br>
<label>VCC</label>
<select class="form-control">
  <option value="vcc">VCC</option>
  <option value="null">---</option>
</select>
<label>DATA</label>
<select class="form-control" placeholder="digital pin">
  <option value="data-pin">4</option>
  <option value="data-pin">2</option>
  <option value="data-pin">~3</option>
  <option value="data-pin">~5</option>
  <option value="data-pin">~6</option>
  <option value="data-pin">7</option>
  <option value="data-pin">8</option>
  <option value="data-pin">~9</option>
  <option value="data-pin">~10</option>
  <option value="data-pin">~11</option>
  <option value="data-pin">12</option>
  <option value="data-pin">13</option>
</select>
<label>NC</label>
<select class="form-control">
  <option value="vcc">empty pin</option>
  <option value="null">---</option>
</select>
<label>GND</label>
<select class="form-control">
  <option value="vcc">GND</option>
  <option value="null">---</option>
</select>
</div><!--col-md-4-->

<div class="col-md-4">
<p>Humidity</p><br>

<label>VCC</label>
<select class="form-control">
  <option value="vcc">VCC</option>
  <option value="null">---</option>
</select>

<label>DATA</label>
<select class="form-control" >
  <option value="data-pin">4</option>
  <option value="data-pin">2</option>
  <option value="data-pin">~3</option>
  <option value="data-pin">~5</option>
  <option value="data-pin">~6</option>
  <option value="data-pin">7</option>
  <option value="data-pin">8</option>
  <option value="data-pin">~9</option>
  <option value="data-pin">~10</option>
  <option value="data-pin">~11</option>
  <option value="data-pin">12</option>
  <option value="data-pin">13</option>
</select>

<label>NC</label>
<select class="form-control">
  <option value="vcc">empty pin</option>
  <option value="null">---</option>
</select>

<label>GND</label>
<select class="form-control">
  <option value="vcc">GND</option>
  <option value="null">---</option>
</select>
</div> <!--col-md-4-->

<div class="col-md-4">
<p>Luminosity</p><br>
<label>VCC</label>
<select class="form-control">
  <option value="vcc">VCC</option>
  <option value="null">---</option>
</select>

<label>Analogic PIN</label>
<select class="form-control">
  <option value="vcc">A0</option>
  <option value="null">A1</option>
  <option value="vcc">A2</option>
  <option value="null">A3</option>
  <option value="null">A4</option>
  <option value="null">A5</option>

</select>

<label>GND</label>
<select class="form-control">
  <option value="vcc">GND</option>
  <option value="null">---</option>
</select>
</div><!--col md-4-->

</div><!--row-->
</div><!--control-->
</div><!--big cool md-->
</div><!--row-->


<div class="row">
<div class="butoane">
<div class="col-md-offset-1 col-md-10">
<div class="row">
<div class="col-md-4">
<button onclick="location.href = '@routes.Application.error()';" >Send</button>
</div>
<!-- <div class="col-md-4">
<button>Send</button>
</div>
<div class="col-md-4">
<button>Send</button>
</div> -->
</div><!--row-->
</div><!--offse-->
</div><!--butoane-->
</div><!--row-->

<style type="text/css">
.led{
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.led11:hover{
  background: #B20000;
}
.led12:hover{
  background-color: #009900;
}
.led13:hover{
  background-color: #CCCC00;
}
.light label, .control p{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
  button{
    background-color: #00527A;
    border: none;
    border-radius: 5px;
  }
  .control{
    padding-top: 40px;
  }
  .control label{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #C1C3C0;
  }
  .control p{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }
  .butoane{
    padding-top: 20px;
  }
  .butoane button{
    /*padding-top: 20px;*/
    width: 70px;
    height: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  }
  .butoane button:hover{
    background-color: #007ACC;
  }
</style>
}