@(id:String)
@Main("Booth Description") {


<form action="@routes.Application.PostBoothEnvDesc(id)" method="POST">


<div class="col-md-offset-1 col-md-10">
<br><br>
<div class="row">
<div class="col-md-6">
	<label>Contact Email :</label> <br>
	<input name="contact_email" class="form-control"><br>
</div>
<div class="col-md-6">
	<label>Contact Website :</label> <br>
	<input name="contact_website" class="form-control"><br>
</div>
	  <!-- Image Url: -->
	  <!-- <input name="image_url" class="form-control"><br> -->
</div>	 
	<label>Product Description :</label> <br>

   <textarea class="form-control" name="description" cols="40" rows="6"></textarea>

<br>

<style type="text/css">
	label{
		    font-family: 'Open Sans Condensed', sans-serif;
            color: #C1C3C0;
            text-shadow: 2px 2px 4px #000000;
	}
</style>
<input type="submit" class="btn-edit" value="done">
<br>
</div>

</form>

}