
@(id:String)
@Main("Description Environment"){

<div class="col-md-offset-1 col-md-10">
<h3>Add Description </h3>

          <style type="text/css">
               h3{
              font-size: 18px;
              }
          </style>

<!-- <div class="border-input"></div> -->

		<form action="@routes.Application.PostEnvDescription(id)" method="POST">
			
     
			<textarea cols="60" rows="5" class="form-control" name="textarea"></textarea>
	    <br>
			<input type="submit" class="btn-edit" value="add">
			<br>
	
		</form>

</div>
}