
@(id:String)
@Main("Description Environment"){

<div class="col-md-offset-1 col-md-10">
<br>
<div class="title">Add Description</div>

      <style type="text/css">
        .title{
        	font-family: 'Open Sans Condensed', sans-serif;
            font-size: 19px;
           	color: #C1C3C0;
    		text-shadow: 2px 2px 4px #000000;
           }
          </style>

<!-- <div class="border-input"></div> -->

		<form action="@routes.Application.PostEnvDescription(id)" method="POST">
			
     
			<textarea cols="60" rows="5" class="form-control" name="textarea"></textarea>
	    <br>
			<input type="submit" class="btn-edit" value="add">
			<br>
	
		</form>

</div>
}