@(message:String)
@Main("Forgot password"){
<nav id="css" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class="envimg" href="@routes.Application.index()"><img src="@routes.Assets.at("images/env-symbol-index.png")" /></a>
    </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">

         <li><a href="@routes.Application.Register()">Register</a></li>
         <li><a href="@routes.Application.LoginPage()">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<div class="row pass">
<div class="col-md-offset-3 col-md-6">
<form ACTION="#" METHOD="POST">
<label>Insert email:</label>
<input type="text" class="form-control" id="email-submit" />
<br><br>
<input type="submit" class="btn btn-default liniar-graduent-btn" value="Submit">
</form>
</div>
</div>


<style type="text/css">
.pass{
	position: relative;
	top: 80px;
}
	label{
		font-family: 'Open Sans Condensed', sans-serif;

		font-size: 22px;
        color: #C1C3C0;
    	text-shadow: 2px 2px 4px #000;
	}
</style>


}