@(message: String)


@Main("Welcome to Envived") {


<nav id="css" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class="" href="@routes.Application.index()"><img src="@routes.Assets.at("images/env-symbol-index.png")" /></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">

        <li><a href="@routes.Application.LoginPage()">Login</a></li> 
        <li><a href="@routes.Application.Register()">Register</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="col-md-offset-4 col-md-4">
	<div class="row">
  <div class="title">
  		 <h2> @message</h2>
  </div>
  
  <style type="text/css">
.title{
   padding-left: 50px; /* The padding is just there to move the h1 element to the center of the div */
  padding-top: 17px;
  font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  color: #0D4383;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}
  </style>
   	</div><!--row-->
   </div><!--col-md-offse-4-->

     <br>

	<div class="container">
     <div class="row">
       <div class="col-sm-10 col-sm-offset-1">
       <br><br><br>
     
       <br>
      
       <p><b>Details about envived :<br> 
       </b> Under construction, beware of  falling bricks and  flying pigs. </p>
  
 
       <br><br><br>
  
       </div>
     </div>
   </div>
}
