@(message: String)


@Main("Welcome to Envived") {


<nav id="css" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class="" href="@routes.Application.index()"><img src="@routes.Assets.at("images/env-symbol-index.png")" /></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">

        <li><a href="@routes.Application.LoginPage()">Login</a></li> 
        <li><a href="@routes.Application.Register()">Register</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="col-md-offset-2 col-md-8">
	<div class="row">
  <div class="title">
  		 <h2> @message</h2>
  </div>
  
  <style type="text/css">
.title h2{
  padding-left: 50px; /* The padding is just there to move the h1 element to the center of the div */
  padding-top: 60px;
  font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  font-size: 90px;
  color: rgba(193, 195, 192,0.5);
  text-shadow: rgb(192, 194, 191) 0px 1px 0px, rgb(189, 191, 188) 0px 2px 0px, rgb(125, 127, 124) 0px 3px 0px, rgb(123, 125, 122) 0px 4px 0px, rgb(128, 130, 127) 0px 5px 0px, rgba(0, 0, 0, 0.0980392) 0px 6px 1px, rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.298039) 0px 1px 3px, rgba(0, 0, 0, 0.14902) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.0980392) 0px 20px 20px;

}
  </style>
   	</div><!--row-->
   </div><!--col-md-offse-4-->

     <br>

	<div class="container">
     <div class="row">
       <div class="col-sm-4 col-md-offset-2">
       <br><br><br>
       <p><b>Details about envived :<br> 
       </b> Under construction, beware of  falling bricks and  flying pigs. </p>
  
       </div>
       <div class="col-sm-3">
       <img src="@routes.Assets.at("images/pig.png")" />
       </div>
     </div>
   </div>
   <style type="text/css">
.container{
  color: rgba(255, 255, 255, 0.298039);
/*font-size: 50px;*/
/*background-color: rgb(26, 26, 26);*/
text-shadow: rgba(255, 255, 255, 0.498039) 0px 0px 15px, rgba(255, 255, 255, 0.498039) 0px 0px 10px;

}
   </style>
}
