@(k:String)(content: Html)
@Main("Add new Area") {

<nav id="css" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Area</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="@routes.Application.AddArea(k)">New Area <span class="sr-only">(current)</span></a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li><a href="@routes.Application.welcome()">Profile</a></li> 
        <li><a href="@routes.Application.index()">Log out</a></li>
             
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="col-md-offset-1 col-md-4">
@content
<!-- 
<select>
  <option value="booth_description" name="booth_description"></option>
  <option value="description" name="description"></option>

  <option value="conference_role" name="conference_role"></option>
  
  <option value="order" name="order"></option>
  <option value="people" name="people"></option>
  <option value="program" name="program"></option>
  <option value="socialmedia" name="socialmedia"></option>
</select> -->
<!-- <textarea rows="5" cols="25" name="description" class="form-control"></textarea><br>
<input type="submit" value="Add" class="btn"> -->

</div>
}