@(k:String)
@Main("Add area") {

<div class="col-md-offset-3 col-md-9">
    <h3>Add New Area</h3>
  <div class="border-input-edit"></div>


  <form action="@routes.Application.PostNewArea(k)" method="POST">
    <div class="row">
      <div class="col-md-8">

          Area name <br>
          <input name="name" class="form-control"><br>
          Tags <br>
          <input name="tags" class="form-control"><br>

    </div>
    </div>

    <input type="submit" class="btn-edit" value="add">

  </form>
</div>

<style type="text/css">
  h3{
    font-size: 20px;
  }
</style>
}
