@(name:String, img_thumbnail_url:String, areaType:String, tags:String, id:String, idenv:String)
@Main("Area") {

<nav id="css" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@routes.Application.viewArea(id, idenv)">Area</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#"><button  id="editarea" data-toggle="modal" data-target="#edit-area">Edit Area </button><span class="sr-only">(current)</span></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Areas <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation">
              <a href="@routes.Application.viewAreas(idenv)" data-toggle="modal">
                 View Areas
              </a>
            </li>
            <li><a href="@routes.Application.AddArea(idenv)">Add Area</a></li> 
          </ul>
        </li>

        <li><a href="@routes.Application.viewEnv(idenv)">Environment <span class="sr-only">(current)</span></a></li>
        <li><a href="@routes.Application.welcome()"><i class="fa fa-home"></i>Profile</a></li> 
        <li><a href="@routes.Application.index()">Log out</a></li>
             
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="col-md-offset-1 col-md-11">
<div class="path">
Path : <a href="@routes.Application.welcome()">Profile </a> >> <a  href="@routes.Application.viewEnv(idenv)">View Environmnet</a> >> <a href="@routes.Application.viewAreas(idenv)">View Areas</a> >> View Area
</div><!--path-->
</div><!--offset-->

<div class="container">
<div class="row">
<tr>
<div class="col-md-4">
  <td>
  <br>
    <p><input type="button" class="display" id="refreshNotes" value="Display Area details" data-toggle="tooltip" data-placement="top" title="click again to change the notes colors"/></p>
  </td>
</div>
<div class="col-md-4">
  <td>
  <div id="demo_box"> 
            <div class="pop_ctrl"><i class="fa"></i>
                <p><input type="button" class="display" id="refreshNotes" value="Features"/></p> 
            </div>
            <ul id="demo_ul">
                <li class="demo_li"><div data-toggle="modal" data-target="#areadesc"><a href="#"><div><br><i class="fa fa-bell-o"></i></div>Description</a></div></li>
                <li class="demo_li"><div data-toggle="modal" data-target="#areaboodesc"><a href="#"><div><br><i class="fa fa-archive"></i></div>Booth Description</a></div></li>
                <li class="demo_li"><div data-toggle="modal" data-target="#program-area"><div><br><i class="fa fa-calendar"></i></div>Program</div></li>
                <li class="demo_li"><div data-toggle="modal" data-target="#order-area"><div><br><i class="fa fa-coffee"></i></div>Order</div></li>
                <li class="demo_li"><div data-toggle="modal" data-target="#social-area"><div><br><i class="fa fa-users"></i></div>Social Media</div></li>
            </ul>
        </div>
  </td>
</div>
<div class="col-md-4">
  <td>
   <div id="demo_box_2">
            <div class="pop_ctrl"><i class="fa "></i>
              <p><input type="button" class="display" id="refreshNotes" value="Things"/></p>
            </div>
            <ul id="demo_ul_2">
                <li class="demo_li"><a href="@routes.Application.areatemp(id,idenv)"><div><br><i class="fa fa-fire"></i></div><div>Temperature</div></a></li>
                <li class="demo_li"><div><br><i class="fa fa-lightbulb-o"></i></div><div><a href="@routes.Application.arealum(id,idenv)">Luminosity</a></div></li>
                <li class="demo_li"><div><br><i class="fa fa-recycle"></i></div><div><a href="@routes.Application.areahum(id,idenv)">Humidity</a></div></li>
            </ul>
        </div>
  </td>
</tr>
</div>
</div>
    <script>
        $(function(){
            $('#demo_box').popmenu();
            $('#demo_box_2').popmenu({'background':'#e67e22','focusColor':'#c0392b','borderRadius':'0'});
        })
    </script>
<table class="newTasks" id="newTasks">
<tr><th></th><th></th><th></th></tr>
<tr>
  <td>
   <input type="text" id="title-1" value="Area" />
  </td>
    <td>
      <input type="text" id="description-1" value="name: @name </br>area type: @areaType" />
    </td>
  </td>
</tr>
<tr>
  <td><input type="text" id="title-2" value="Tags" /></td>
  <td><input type="text" id="description-2" value="@tags" /></td>
  <!-- <td><a class="deleteButton" id="delete-2" title="Delete Task">X</a> -->
  </td>
</tr>
<tr>
  <td><input type="text" id="title-3" value="Img thumbail url" /></td>
  <td><input type="text" id="description-3" value="@img_thumbnail_url" /></td>
  <!-- <td><a class="deleteButton" id="delete-3" title="Delete Task">X</a></td> -->
</tr>
</table>
<div class="clear"></div>
<ul class="sticky_notes"></ul>
<div class="clear"></div>
</div>

<!-- scripts -->
<script type="text/javascript">
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
  $('[data-toggle="tooltip"]').tooltip({ container: 'body' })
</script>

<!-- styles -->
<style type="text/css">
.demo_li a:hover{
  text-decoration: none;
}
#demo_ul_2 li{
border-radius: 7px;  
}
#demo_ul{
/*  z-index: -10;
  position: relative;
  top: 20px;*/
top: 20px;
right: 10px
}

.fa-bars{
  display: none;
}
  .container table{
    visibility: hidden;
  }
  .container .display{
    position: relative;
    top: 90px;
    bottom: 30px;
    background: transparent;
    background:rgba(0, 153, 0, 0.2);
    border: 1px solid rgba(0, 61, 0, 0.5);
    border-radius: 7px;
    width: 200px;
    height: 75px;

    color: #C1C3C0;
    text-shadow: 2px 2px 4px #000000
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  }
  .container .display:hover{
  /*opacity: 1;*/
  color:#FFF;
  border:1px solid rgba(76, 102, 0, 0.6);
  background-color: rgba(0, 76, 0, 0.6);
  text-shadow: 0 0 3px #000, 0 0 5px #DDDEDB;
  }
  .container .display:focus{
    outline: none;
  }
</style>




<!-- MODALS:  -->
<!-- Modal edit area -->
<div class="modal fade" id="edit-area" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit area</h4>
      </div>
      <div class="modal-body">
      <div class="editareamodal"></div>
      <script type="text/javascript">
      $(function(){   
        // alert("aaa");
            $(".editareamodal").load("@routes.Application.editArea(id,idenv)");
        });
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal description area-->
<div class="modal fade" id="areadesc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Description</h4>
      </div>
      <div class="modal-body">
        <div class="areadescription"></div>
      <script type="text/javascript">
      $(function(){   
        // alert("aaa");
            $(".areadescription").load("@routes.Application.areaDescription(id,idenv)");
        });
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal booth description-->
<div class="modal fade" id="areaboodesc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Booth Description</h4>
      </div>
      <div class="modal-body">
       <div class="booareadesc"></div>
      <script type="text/javascript">
      $(function(){   
        // alert("aaa");
            $(".booareadesc").load("@routes.Application.areaBothDescription(id,idenv)");
        });
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Program-->
<div class="modal fade" id="program-area" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Program</h4>
      </div>
      <div class="modal-body">
       <div class="areaprogram"></div>
      <script type="text/javascript">
      $(function(){   
        // alert("aaa");
            $(".areaprogram").load("@routes.Application.areaProgram(id,idenv)");
        });
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal order-->
<div class="modal fade" id="order-area" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Order</h4>
      </div>
      <div class="modal-body">
       <div class="areaorder"></div>
      <script type="text/javascript">
      $(function(){   
        // alert("aaa");
            $(".areaorder").load("@routes.Application.orderArea(id,idenv)");
        });
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal social media-->
<div class="modal fade" id="social-area" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Social media</h4>
      </div>
      <div class="modal-body">
       <div class="socialaraea"></div>
      <script type="text/javascript">
      $(function(){   
        // alert("aaa");
            $(".socialaraea").load("@routes.Application.socialMediaArea(id,idenv)");
        });
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
}