@(map: Map[String, String],id:String)

@Main("Manual command") {

<div class="contente">
@for((c,w)<- map){
<div class="loop">
  <div class="col-md-offset-1 col-md-2">
  		<!-- thing type = c: -->
     <a href="@routes.Application.RemoveTingEnv(c,w,id)" data-toggle="tooltip" data-placement="top" title="remove"><i class="fa fa-times"></i></a> &nbsp;&nbsp;&nbsp;<label>@c</label>
  		<!-- id thing = w: @w<br>	 -->
  </div>

  <form action="@routes.Application.addingValManualEnv(c,w,id)" method="POST">
  		<div class="col-md-2">
  			<input type="text" class="form-control" placeholder="value" name="value"/>
  		</div>

  		<div class="col-md-2">
  			<select class="form-control" name="measurement_unit">
  				  <option name="measurement_unit">-----</option>
  				  <option name="measurement_unit">Celsius</option>
  				  <!-- <option name="measurement_unit">Fahrenheit</option> -->
  				  <option name="measurement_unit">Percent</option>
  			</select>
  		</div>

  		<div class="col-md-1">
  			<input type="submit" value="add" class="form-control adbt"/>
  		</div>

  </form>

    <div class="col-md-2">
      <a href="@routes.Application.graphicThingEnv(id,w,c)"><button id ="bty" class="form-control">chart</button></a>
    </div>

  </div>
  </div><!--content-->
<br><br><br>
  }

<style type="text/css">
a:hover{
  text-decoration: none;
}
.fa-times{
  color: #007A7A;
    transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
}
.fa-times:hover{
  color: #004C4C;
  text-shadow: 2px 2px 4px #000000;
}

  .loop{
  padding-bottom: 5px;
  position: relative;
  }
  label{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color: #C1C3C0;
  text-shadow: 2px 2px 4px #000000;
  }
/*  .contente{
    position: relative;
    bottom: 20px;
  }*/
.adbt{
    background-color: #004C4C;
    border: none;
   color: #C1C3C0;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
}
.adbt:hover{
   background-color: #007A7A;
   color: #FFF;
    text-shadow: 1px 1px 2px #FFFFC2;
   }
.loop #bty{
  color: #C1C3C0;
  background-color: #007A7A;
  border: none;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
}
.loop #bty:hover{
  background-color: #004C4C;
  color: #FFF;
   text-shadow: 1px 1px 2px #FFFFC2;
}
</style>

}