
@(name:String, width:String, height:String, img_thumbnail_url:String, tags:String, id:String)
@Main("View Environment") {
<nav id="css" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@routes.Application.viewEnv(id)">Environment</a> 
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#" data-toggle="modal" data-target="#editEnvironmet">Edit Environment <span class="sr-only">(current)</span></a></li>

       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Areas <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation">
              <a href="@routes.Application.viewAreas(id)" data-toggle="modal">
                 View Areas
              </a>
            </li>
            <li><a href="@routes.Application.AddArea(id)">Add Area</a></li> 
          </ul>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li><a href="@routes.Application.welcome()"><i class="fa fa-home"></i>Profile</a></li> 
        <li><a href="@routes.Application.index()">Log out</a></li>
             
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="col-md-offset-1 col-md-11">
  <div class="path">
  Path : <a href="@routes.Application.welcome()">Profile </a> >> <a>View Environmnet</a>
  </div>
</div>

 &nbsp;&nbsp;  <a href="@routes.Application.checkfeatenv(id)">test: see your features</a>


<div class="container">

<div class="row">
<tr>
<div class="col-md-4">
  <td>
  <br>
    <p><input type="button" class="display" id="refreshNotes" value="Display Environment details" data-toggle="tooltip" data-placement="top" title="click again to change the notes colors"/></p>
  </td>
</div>
<div class="col-md-4">
  <td>
  <div id="demo_box">
       
            <div class="pop_ctrl"><i class="fa "></i>
                <p><input type="button" class="display" id="refreshNotes" value="Features"/></p> 
            </div>

            <ul id="demo_ul">
                <li class="demo_li"><div data-toggle="modal" data-target="#envdesc"><a href="#"><div><br><i class="fa fa-bell-o"></i></div>Description</a></div></li>
                <li class="demo_li"><div data-toggle="modal" data-target="#boodesc"><a href="#"><div><br><i class="fa fa-archive"></i></div>Booth Description</a></div></li>
                <li class="demo_li"><div data-toggle="modal" data-target="#program-env"><div><br><i class="fa fa-calendar"></i></div>Program</div></li>
                <li class="demo_li"><div data-toggle="modal" data-target="#order"><div><br><i class="fa fa-coffee"></i></div>Order</div></li>
                <li class="demo_li"><div data-toggle="modal" data-target="#social"><div><br><i class="fa fa-users"></i></div>Social Media</div></li>
               <!--  <li class="demo_li"><div><i class="fa fa-folder"></i></div><div>*</div></li>
                <li class="demo_li"><div><i class="fa fa-heart-o"></i></div><div>*</div></li>
                <li class="demo_li"><div><i class="fa fa-mobile"></i></div><div>*</div></li>
                <li class="demo_li"><div><i class="fa fa-power-off"></i></div><div>*</div></li> -->
            </ul>
        </div>
  </td>
</div>
<div class="col-md-4">
  <td>
   <div id="demo_box_2">
            <div class="pop_ctrl"><i class="fa "></i>
              <p><input type="button" class="display" id="refreshNotes" value="Things"/></p>
            </div>
            <ul id="demo_ul_2">
                <li class="demo_li"><a href="#"><div><br><i class="fa fa-fire"></i></div><div>Temperature</div></a></li>
                <li class="demo_li"><div><br><i class="fa fa-lightbulb-o"></i></div><div>Luminosity</div></li>
                <li class="demo_li"><div><br><i class="fa fa-recycle"></i></div><div>Humidity</div></li>
                <!-- <li class="demo_li"><div><i class="fa fa-envelope"></i></div><div>*</div></li> -->
                <!-- <li class="demo_li"><div><i class="fa fa-clock-o"></i></div><div>*</div></li> -->
                <!-- <li class="demo_li"><div><i class="fa fa-folder"></i></div><div>*</div></li> -->
                <!-- <li class="demo_li"><div><i class="fa fa-heart-o"></i></div><div>*</div></li> -->
                <!-- <li class="demo_li"><div><i class="fa fa-mobile"></i></div><div>*</div></li> -->
                <!-- <li class="demo_li"><div><i class="fa fa-power-off"></i></div><div>Exit</div></li> -->
            </ul>
        </div>
  </td>
</tr>
</div>
</div>
    <script>
        $(function(){
            $('#demo_box').popmenu();
            // $('#demo_box_2').popmenu({'background':'#e67e22','focusColor':'#c0392b','borderRadius':'0'});
            $('#demo_box_2').popmenu({'background':'#e67e22','focusColor':'#c0392b'});
        })
    </script>
<table class="newTasks" id="newTasks">
<tr><th></th><th></th><th></th></tr>
<tr>
  <td>
   <input type="text" id="title-1" value="Environmnet" />
  </td>
    <td>
      <input type="text" id="description-1" value="name: @name </br>width: @width </br> height: @height" />
    </td>
  </td>
</tr>

<tr>
  <td><input type="text" id="title-2" value="Tags" /></td>
  <td><input type="text" id="description-2" value="@tags" /></td>
  <!-- <td><a class="deleteButton" id="delete-2" title="Delete Task">X</a> -->
  </td>
</tr>
<tr>
  <td><input type="text" id="title-3" value="Img thumbail url" /></td>
  <td><input type="text" id="description-3" value="@img_thumbnail_url" /></td>
  <!-- <td><a class="deleteButton" id="delete-3" title="Delete Task">X</a></td> -->
</tr>

</table>
<div class="clear"></div>
<ul class="sticky_notes"></ul>
<div class="clear"></div>
</div>

<!-- scripts -->
<script type="text/javascript">
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
  $('[data-toggle="tooltip"]').tooltip({ container: 'body' })
</script>

<!-- styles -->
<style type="text/css">
.demo_li a:hover{
  text-decoration: none;
}
#demo_ul_2 li{
border-radius: 7px;  
}
#demo_ul{
/*  z-index: -10;
  position: relative;
  top: 20px;*/
top: 20px;
right: 10px
}

.fa-bars{
  display: none;
}
  .container table{
    visibility: hidden;
  }
  .container .display{
    position: relative;
    top: 90px;
    bottom: 30px;
    left: 30px;
    background: transparent;
    background:rgba(45, 90, 0, 0.5);
    border: 1px solid rgba(0, 61, 0, 0.5);
    border-radius: 7px;
    width: 200px;
    height: 75px;

    color: #C1C3C0;
    text-shadow: 2px 2px 4px #000000
   -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .container .display:hover{
  /*opacity: 1;*/
  color:#FFF;
  border:1px solid rgba(106, 109, 102, 0.6);
  background-color: #395600;
  text-shadow: 0 0 3px #000, 0 0 5px #DDDEDB;


  }

  .container .display:focus{
    outline: none;
  }
</style>

<!-- modals -->

<!-- edit environment -->
<!-- Modal edit env -->
<div class="modal fade" id="editEnvironmet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit environment</h4>
      </div>
      <div class="modal-body">
      <div class="edit-env"></div>
      <script type="text/javascript">
        $(function(){
          $(".edit-env").load("@routes.Application.editEnv(id)");
         });             
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end edit environment -->

<!-- Modal Description-->
<div class="modal fade" id="envdesc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Description</h4>
      </div>
      <div class="modal-body">
      <div class="modal-body-envdesc"></div>
      <script type="text/javascript">
        $(function(){   
            $(".modal-body-envdesc").load("@routes.Application.envDescription(id)");
        });
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal booth description-->
<div class="modal fade" id="boodesc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Booth Description</h4>
      </div>
      <div class="modal-body">
        <div class="modal-body-boodesc-env"></div>
      <script type="text/javascript">
        $(function(){   
            $(".modal-body-boodesc-env").load("@routes.Application.envBothDescription(id)");
        });
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal program-->
<div class="modal fade" id="program-env" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Program</h4>
      </div>
      <div class="modal-body">
        

      <div class="modal-body-program-env"></div>
      <script type="text/javascript">
        $(function(){   
            $(".modal-body-program-env").load("@routes.Application.envProgram(id)");
        });
      </script>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal order-->
<div class="modal fade" id="order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Order</h4>
      </div>
      <div class="modal-body">
      <div class="modal-body-order-env"></div>
      <script type="text/javascript">
        $(function(){   
            $(".modal-body-order-env").load("@routes.Application.orderEnv(id)");
        });
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal social media-->
<div class="modal fade" id="social" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">social media</h4>
      </div>
      <div class="modal-body">
      <div class="modal-body-social-env"></div>
      <script type="text/javascript">
        $(function(){   
            $(".modal-body-social-env").load("@routes.Application.socialMediaEnv(id)");
        });
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 
}
