@(description:String, k:String, idenv:String)
@Main("view description"){
<div class="pad">
    <form action="@routes.Application.PostAreaDescription(k,idenv)" method="POST">
	           <div class="edit-input-container">
             <p>Description</p>
	            @description
	           </div>      


<style type="text/css">
  .pad{
    position: relative;
    top:10px;
  }
</style>

         <style type="text/css">
           input{
              color: #FFF;
              background: transparent;
              border: none;
            }

        </style>


  <!-- </div> -->
    

}